/*
	@theme Brackets Color
	@override-placeholders html, xml, sourcecode.js, css
	@author: Carlos Cano
*/

:document-base {
	color: #535353;
	background-color: #F8F8F8;
	insertion-point-color: #000000;
	selection-background-color: default;
	current-line-background-color: rgba(222, 228, 234, 0.4);
}

apache, css, js, php, python, ruby, source, sourcecode, tag, constant {
	spell-check: disabled;
}

tag, tag > string > punctuation {
	color: #84bfef;
}

tag>name {
	color: #0081c2;
	background-color: rgb(244, 250, 255);
}

attribute-name, punctuation.definition.tag {
	color: #82b839;
}

tag > string.quoted, tag > attribute-with-value > string.quoted {
	color: #f18900;
}

tag > string > punctuation {
	font-weight: normal;
}

css.embedded attribute-name, css.embedded punctuation.definition.tag {
	color: #DF9F4F;
}

tag.doctype, tag.doctype > *, tag.doctype > string.quoted {
	color: #535353;
	font-weight: normal;
}
comment, comment > punctuation{
	color: #949494;
}

string.quoted {
	color: #bc670f;
	background-color: rgba(251,233,173,0.1);
}

string.quoted > punctuation {
	color: #e69a4c;
}

string.quoted > escape {
	font-weight: bold;
	background-color: rgba(251,233,173,0.8);
}

variable > punctuation {
	color: #865fdb;
}

operator {
	color: #626fc9;
}

open-bracket, close-bracket {
	color: #7f7f7f;
}

support.function, function-call {
	color: #4e279a;
	font-weight: boldd;
}

keyword.control, storage.type {
	color: #6700b9;
}

function > name {
	color: #3a1d72;
	font-weight: bold;
}

js.embedded {
	color: #434343;
}

constant.numeric, constant.language {
	color: #7653c1;
	background-color: #f3f2ff;
}

invalid {
	background-color: #f93232;
	color: #f9f2ce;
}

/* @group CSS */

css.embedded {
	background: #f8f8f8;
}

css selector, css selector punctuation {
	color: #0081c2;
}

css property-name {
	color: #8757ad;
}

css property-value constant, css property-value keyword {
	color: #82b839;
}

css property-value {
	color: #f18900;
}
css punctuation {
	color: #535353;
}

css comment punctuation {
	color: #776644;
}
css keyword.important {
	color: #0081c2;
	font-weight: bold;
}

css color, css color punctuation {
	color: #abc837;
}

css group-start name {
	font-weight: bold;
}

/* @end */

/* @group Javascript */

js storage {
  color: #0081c2;
}
js variable {
  color: #0081c2;
}
js constant {
  color: #f18900;
  background-color: #f8f8f8;
}
js delimiter { color:#ccc; }
js keyword, js storage { color: #0081c2;  }
js comment, js comment.line, js comment.line > punctuation, js comment.single-line, js comment.single-line > punctuation{ color:  #999; }
js > operator { color: #535353; }
js string { 
	color:  #f18900;
}
js function > name{
	color: #865fdb;
}
js constant.numeric, js constant.language {
	color: #f18900;
	background-color: #f8f8f8;
}
js class.constructor > class {
	color: #333333;
	font-weight: bold;
}
regex punctuation, regex operator, regex constant, regex group > punctuation {
	color: #f18900;
	background-color: #f8f8f8;
}
/* @end */